amqp==5.3.1
anyio==4.9.0
asgiref==3.8.1
bidict==0.23.1
billiard==4.2.1
celery==5.5.3
certifi==2025.6.15
channels==4.2.2
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
Django==5.1.9
django-leaflet==0.32.0
dnspython==2.7.0
eventlet==0.40.1
ffmpeg-python==0.2.0
filelock==3.18.0
fonttools==4.58.5
fsspec==2025.5.1
future==1.0.0
GDAL @ file:///C:/Users/Mattoussi/OneDrive/Documents/smart%20for%20green/geo/myvenv/Lib/site-packages/gdal-3.10.2-cp313-cp313-win_amd64.whl#sha256=d6aae781b9847065f831f3457c6c01d0b9272818656031d723dc88c160a8ec26
greenlet==3.2.3
h11==0.16.0
httptools==0.6.4
idna==3.10
Jinja2==3.1.6
kiwisolver==1.4.8
kombu==5.5.4
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
networkx==3.5
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.1
pillow==11.3.0
prompt_toolkit==3.0.51
psutil==7.0.0
psycopg2==2.9.10
py-cpuinfo==9.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-socketio==5.13.0
pytz==2025.2
PyYAML==6.0.2
redis==6.2.0
requests==2.32.4
scipy==1.16.0
setuptools==80.9.0
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
sympy==1.14.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.163
ultralytics-thop==2.0.14
urllib3==2.5.0
uvicorn==0.34.3
vine==5.1.0
watchfiles==1.1.0
wcwidth==0.2.13
websockets==15.0.1
whitenoise==6.9.0
wsproto==1.2.0
