{% extends "Gis/home.html" %}
{%load static%}
{% block title %}Map View{% endblock %}

{% block content %}
    <div id="map"></div>
    <input type="text" id="shape-name" placeholder="Enter shape name" class="shape-name-input">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
    </div>
    <button id="save-btn" class="save_btn">Save as GeoJSON</button>
{% endblock %}

{% block scripts %}
    <script src="{% static 'geo/js/map.js' %}"></script>
{% endblock %}
