<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'geo/css/map.css' %}">
</head>
<body>
    
    <div id="map"></div>
    <input type="text" id="shape-name" placeholder="Enter shape name">
    <button id="save-btn" class="save_btn">Save as GeoJSON</button>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="{% static 'geo/js/map.js' %}"></script>
</body>
</html>